.all{
  height:359px ;
  width: 423px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.text{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 1.5rem;

  font-size: 22px;
  margin-bottom: 1rem;


}
input{
  width: 214px;
  height: 36px;
  display: flex;
  border: 5px solid rgb(213, 207, 207);
  border-radius: 3px;
}

.input{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.output{
  display: flex;
  margin-left: 4rem;
  font-size: 22px;
  color: white;
}


.in{
  width: 376px;
  height: 312px;
  background-color: #5e60ce;
  outline: 6px solid black;
  border-radius: 2px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

